.blog-masthead {
  display: none;
}

/* Nav links */
.blog-nav-item {
  display: none;
}


/*
 * Blog name and description
 */

.blog-header {
  display: none;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
  display: none;
}
.blog-description {
  display: none;
}
.nav {
  display: none;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  display: none;
}

/* Pagination */
.pager {
  display: none;
}


/*
 * Blog posts
 */



/*
 * Footer
 */

.blog-footer {
  display: none;
}
.blog-footer p:last-child {
  display: none;
}
.nav, .nav-pills{
  display: none;
}

#example1_filter, .dataTables_filter, .dataTables_length, .print-button, .paging_bootstrap{
  display: none !important;
}

.printable-header{
  text-align: center;
  display: block;
}
.printable-header address{
  font-size: 18px;
}
.printable-header .print-title{
  width: 360px !important;
  margin:20px auto;
  padding:15px 30px;
  border:1px solid #CCC;
  background: #333;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}